<h2>Create a new Pokemon</h2>

<form action="/pokemon/new" method="post">

  <p>
    <input type="text" name="name" value="" placeholder="Name">
  </p>

  <p>
    <input type="text" name="type" value="{{ pokemon.type }}" placeholder="Type">
  </p>

  <button type="submit" name="button">Save</button>

</form>
