body {
  color: #1E2019;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

p {
  color: #D3D0CB;
  font-weight: 100;
}

a {
  color: #E2C044
}

#container {
  padding: 5rem;
  max-width: 500px;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

.new-todo {
  width: 100%;
  outline: none;
  border: none;
  font-size: 1.5rem;
  line-height: 1.5;
  color: #587B7F;
  border-bottom: 1px solid #587B7F;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
}

.todo-list {
  list-style: none;
  padding: 0;
}

.todo-item {
  display: flex;
  padding: 0.5rem 0;
  font-size: 1.25rem;
}

.todo-item a {
  text-decoration: none;
  margin: 0 0.5rem;
}

.todo {
  margin-right: auto;
}

.todo.is-completed {
  text-decoration: line-through;
}
