<h1>Welcome to {{name}}'s Guestbook!</h1>

<form class="" action="/" method="post">
  <input type="text" name="content" value="">
  <input type="text" name="name" value="">
  <input type="submit" name="submit" value="Submit">
</form>


<table>
{{#each entries }}
  <tr>
    <th>
      {{name}} -
    </th>
    <td>
      {{content}}
    </td>
  </tr>
{{/each}}
</table>
