<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Mongo App 1</title>
  </head>
  <body>
    <header>
      <h1>Pokedex</h1>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/pokemon">All Pokemon</a></li>
        <li><a href="/pokemon/new">New Pokemon</a></li>
      </ul>
    </header>

    {{{ body }}}

  </body>
</html>
