<h1>To Dos</h1>


<form class="" action="/todos" method="post">
  <fieldset>
    <input type="text" name="todo" value="" placeholder="New To Do">
    <input type="hidden" name="status" value="false">
    <input type="submit" name="submit" value="Submit">
  </fieldset>
</form>

<ul class="todo-list">
  {{#each todos}}
  <li>
    <span>{{content}}</span>
    <span>{{status}}</span>
  </li>
  {{/each}}
</ul>
