<h1>To Dos</h1>


<ul class="todo-list">
  {{#each todos}}
  <li>
    <a href="/todos/{{id}}">
      <span>{{content}}</span>
    </a>
    <span>{{status}}</span>
    <span>
      <a href="/todos/edit/{{id}}">Edit</a>
    </span>
  </li>
  {{/each}}
</ul>

<a href="/todos/new">Create a new To Do</a>
