<h2>New To Do</h2>

<form action="/todo/new" method="post">
  <p>
    <label for="title">Title: </label>
    <input name="title" type="text" placeholder="Title">
  </p>
  <p>
    <label for="content">Content: </label>
    <textarea name="content" cols="30" rows="10"></textarea>
  </p>
  <button type="submit">Save</button>
</form>
