<form class="" action="/todos" method="post">
  <fieldset>
    <input type="text" name="todo" value="" placeholder="New To Do">
    <input type="hidden" name="status" value="false">
    <input type="submit" name="submit" value="Submit">
  </fieldset>
</form>

<a href="/">Back</a>
