<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>To Do</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>

    <div id="container">
      <h1>To Do SPA</h1>
      <form class="form js-create">
          <input type="text" name="newToDo" class="new-todo" placeholder="New to do">
      </form>
      <div id="app"></div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js" charset="utf-8"></script>

    <script id="todo-list" type="text/x-handlebars-template">
      <ul class="todo-list">
        {{#each this}}
          <li class="todo-item js-todo" data-id="{{_id}}">
            <span class="todo {{#if isCompleted}} is-completed {{/if}}">{{this.title}}</span>
            <a class="js-complete" href="#">Complete</a>
            <a class="js-delete" href="#">Delete</a>
          </li>
        {{/each}}
      </ul>
    </script>

    <script src="/index.js"></script>
  </body>
</html>
